<!DOCTYPE html>
<html lang="zh_cn">

	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %} -- 乐播</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="">

		<!--[if lt IE 9]><script src="/static/js/lib/html5.js"></script><![endif]-->
		<!--[if lt IE 7]><script src="/static/js/lib/belatedpng.js"></script><![endif]-->

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/lib/bootstrap-responsive.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/lib/bootstrap.css')}}">
		{% block style %}{% endblock %}

		<script type="text/javascript" src="/static/js/lib/jquery.js"></script>
		<script type="text/javascript" src="/static/js/lib/bootstrap.js"></script>
		{% block script %}{% endblock %}

	</head>

	<body>

		<section>
		    <div class="container">

		        <div class="masthead">
		            <ul class="nav nav-pills pull-right">
		                <li class="active"><a href="#">发布视频</a></li>
		                <li><a href="#">About</a></li>
		                <li><a href="#">{{username}}</a></li>
		            </ul>
		            <h3 class="muted">后台管理系统</h3>
		        </div>

		        <div class="navbar">
		            <div class="navbar-inner">
		                <div class="container">
		                    <ul class="nav">
		                        <li{%if selected=='user'%} class="active"{% endif %}><a href="/user/">乐播用户</a></li>
		                        <li{%if selected=='video'%} class="active"{% endif %}><a href="/video/">视频管理</a></li>
		                        <li{%if selected=='feedback'%} class="active"{% endif %}><a href="/feedback/">举报投诉</a></li>
		                        <li{%if selected=='admin'%} class="active"{% endif %}><a href="/admin/">后台账号</a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>

		        {% block content %}

		        {% endblock %}

		    </div>

		</section>

	</body>


</html>